h1 {
  text-align: center;
  color: tomato;
}
ul li {
  list-style: none;
}
ul li span {
  width: 100%;
  display: block;
}
ul li span:first-child {
  font-size: 26px;
  margin-bottom: 10px;
}
ul li a {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}
